name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:    
      matrix:
        arch: [64]

    # Docker Hub image that `container-job` executes in
    container: node:10.18-jessie

    # Service containers to run with `container-job`
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres
        # Provide the password for postgres
        env:
          POSTGRES_PASSWORD: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5 

    steps:
    # Install dependencies
    - name: Install Dependencies
      run: apt-get install libck-dev 
      #postgresql postgresql-contrib    
    - name: Install Cyclone
      run: |
        wget https://github.com/cyclone-scheme/binary-releases/raw/master/ubuntu-18.04-lts/cyclone-scheme_0.20_amd64.deb 
        sudo apt install ./cyclone-scheme_0.20_amd64.deb

    - name: Install winds packages
      run: cyclone-winds install bytevector md5
      
    - uses: actions/checkout@v2
    - name: Build and Test
      run: cyclone test.scm && ./test

